/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "keys_de.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        shiftcaps: shiftcaps {
            compatible = "zmk,behavior-tap-dance";
            label = "SHIFTCAPS";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPSLOCK>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /*
┌───────┬───────┬───────┬───────┬───────┬───────┐   ┌───────┬───────┬───────┬───────┬───────┬───────┐
│  ESC  │   Q   │   W   │   E   │   R   │   T   │   │   Z   │   U   │   I   │   O   │   P   │   Ü   │
├───────┼───────┼───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┼───────┼───────┤
│  TAB  │   A   │   S   │   D   │   F   │   G   │   │   H   │   J   │   K   │   L   │   Ö   │   Ä   │
├───────┼───────┼───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┼───────┼───────┤
│ SHIFT │   Y   │   X   │   C   │   V   │   B   │   │   N   │   M   │   ,   │   .   │   -   │ SHIFT │
└───────┴───────┴───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┴───────┴───────┘
                        │  CMD  │(1)ENT │ CTRL  │   │  OPT  │(2)SPC │   3   │
                        └───────┴───────┴───────┘   └───────┴───────┴───────┘
                        */

            bindings = <
&kp ESC     &kp DE_Q  &kp DE_W  &kp DE_E  &kp DE_R     &kp DE_T       &kp DE_Z  &kp DE_U  &kp DE_I           &kp DE_O    &kp DE_P         &kp DE_U_UMLAUT
&kp TAB     &kp DE_A  &kp DE_S  &kp DE_D  &kp DE_F     &kp DE_G       &kp DE_H  &kp DE_J  &kp DE_K           &kp DE_L    &kp DE_O_UMLAUT  &kp DE_A_UMLAUT
&shiftcaps  &kp DE_Y  &kp DE_X  &kp DE_C  &kp DE_V     &kp DE_B       &kp DE_N  &kp DE_M  &kp DE_COMMA       &kp DE_DOT  &kp DE_MINUS     &kp RSHFT
                                &mo 3     &lt 1 SPACE  &lt 2 ENTER    &kp RALT  &kp RGUI  &kp RIGHT_CONTROL
            >;
        };

        numbers {
            /*
┌───────┬───────┬───────┬───────┬───────┬───────┐   ┌───────┬───────┬───────┬───────┬───────┬───────┐
│   °   │   !   │   "   │   §   │   $   │   %   │   │   &   │   /   │  (    │   )   │   =   │   ?   │
├───────┼───────┼───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┼───────┼───────┤
│  TAB  │   1   │   2   │   3   │   4   │   5   │   │   6   │   7   │   8   │   9   │   0   │   ß   │
├───────┼───────┼───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┼───────┼───────┤
│ SHIFT │       │       │       │  DEL  │       │   │       │ BSPC  │       │       │       │ SHIFT │
└───────┴───────┴───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┴───────┴───────┘
                        │  CMD  │(1)ENT │ CTRL  │   │  OPT  │(2)SPC │   3   │
                        └───────┴───────┴───────┘   └───────┴───────┴───────┘
            */

            bindings = <
&kp ESCAPE      &kp DE_EXCL  &kp DE_DQT  &kp DE_SECT  &kp DE_DOLLAR  &kp DE_PERCENT    &kp DE_AMPS  &kp DE_FSLH    &kp DE_LPAR   &kp DE_RPAR  &kp DE_EQUAL  &kp DE_QMARK
&kp TAB         &kp DE_N1    &kp DE_N2   &kp DE_N3    &kp DE_N4      &kp DE_N5         &kp DE_N6    &kp DE_N7      &kp NUMBER_8  &kp DE_N9    &kp DE_N0     &kp DE_SHARP_S
&kp LEFT_SHIFT  &none        &none       &none        &kp DELETE     &none             &none        &kp BACKSPACE  &none         &none        &none         &kp RIGHT_SHIFT
                                         &trans       &trans         &trans            &trans       &trans         &trans
            >;
        };

        symbols {
            /*
┌───────┬───────┬───────┬───────┬───────┬───────┐   ┌───────┬───────┬───────┬───────┬───────┬───────┐
│   °   │   !   │   "   │   §   │   $   │   %   │   │   &   │   /   │  (    │   )   │   =   │   ?   │
├───────┼───────┼───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┼───────┼───────┤
│  TAB  │   1   │   2   │   3   │   4   │   5   │   │   6   │   7   │   8   │   9   │   0   │   ß   │
├───────┼───────┼───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┼───────┼───────┤
│ SHIFT │       │       │       │  DEL  │       │   │       │ BSPC  │       │       │       │ SHIFT │
└───────┴───────┴───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┴───────┴───────┘
                        │  CMD  │(1)ENT │ CTRL  │   │  OPT  │(2)SPC │   3   │
                        └───────┴───────┴───────┘   └───────┴───────┴───────┘
                        */

            bindings = <
&kp ESCAPE  &kp CARET     &kp DE_LEFT_PARENTHESIS  &kp DE_RIGHT_PARENTHESIS  &kp LT       &kp GT         &kp HOME        &kp PAGE_DOWN   &kp PAGE_UP   &kp END          &none  &kp BSPC
&kp TAB     &kp RA(DE_L)  &kp RA(DE_N5)            &kp RA(DE_N6)             &kp DE_PLUS  &kp DE_HASH    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &none  &none
&kp LSHFT   &none         &kp RA(DE_N8)            &kp RA(DE_N9)             &kp DELETE   &none          &none           &kp BACKSPACE   &none         &none            &none  &kp RIGHT_SHIFT
                                                   &trans                    &trans       &trans         &trans          &trans          &trans
            >;
        };

        Function-BT-OS {
            /*
┌───────┬───────┬───────┬───────┬───────┬───────┐   ┌───────┬───────┬───────┬───────┬───────┬───────┐
│  F1   │  F2   │  F3   │  F4   │  F5   │  F6   │   │  F7   │  F8   │  F9   │  F10  │  F11  │  F12  │
├───────┼───────┼───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┼───────┼───────┤
│  F13  │  F14  │  F15  │  F16  │  F17  │  F18  │   │  F19  │  F20  │  F21  │  F22  │  F23  │  F24  │
├───────┼───────┼───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┼───────┼───────┤
│BT_CLR │  BT1  │  BT2  │  BT3  │  BT4  │  BT5  │   │       │       │       │       │       │       │
└───────┴───────┴───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┴───────┴───────┘
                        │  CMD  │(1)ENT │ CTRL  │   │  OPT  │(2)SPC │   3   │
                        └───────┴───────┴───────┘   └───────┴───────┴───────┘
                        */

            bindings = <
&kp F1      &kp F2        &kp F3        &kp F4        &kp F5        &kp F6          &kp F7   &kp F8   &kp F9   &kp F10  &kp F11  &kp F12
&kp F13     &kp F14       &kp F15       &kp F16       &kp F17       &kp F18         &kp F19  &kp F20  &kp F21  &kp F22  &kp F23  &kp F24
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none    &none    &none    &none    &none    &none
                                        &trans        &trans        &trans          &trans   &trans   &trans
            >;
        };
    };
};
